<div>
  <h1>Gameinfo</h1>
  <div>
    <p>This game is built by Louise as a school assigment. </p>
    <img src="/static/QuestionCloud.webp" alt="questionmark inside a cloud" />
  </div>
  <h2>React</h2>
  <h2>Express</h2>
  <h2>Handlebars</h2>
  <h2>Moongose</h2>

</div>